
<div class="card shadow m-4">

    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 30rem;"
                src="assets/img/undraw_posting_photo.svg" alt="...">
        </div>
        <div class="text-center">
            <p>Add some quality, svg illustrations to your project courtesy of <a
                target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
            constantly updated collection of beautiful svg images that you can use
            completely free and without attribution!</p>
        
        </div>
      
    </div>
</div>

